
/* Media Queries */
@media screen and (max-width: 1380px) {

}
@media screen and (max-width: 1200px) {
    #topbar {
        padding: 15px 5px;
    }
    .chaticon {
        width: 28px;
        margin: 15px;
    }
    #heart {
        height: 40px;
        width: 40px;
        margin-top: 10px;
    }
    .lifecount {
        font-size: 12px;
        padding: 4px;
    }
    .console {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
    }
    .coins-counter {
        margin: 10px 15px;
    }
    .score-bar {
        width: 200px;
        margin-left: 20px;
        padding: 16px 20px;
    }
    #police-side .console .score-bar {
        margin-right: 20px;
    }
    .score-bar .title {
        font-size: 16px;
        font-weight: 400;
    }
    .floating-box {
        width: 180px;
    }
    .score {
        margin: 0px 2px;
    }
    #coin-count{
        left: 15px;
    }
    .chormsg {
        left: 15%;
    }
    .policemsg {
        right: 15%;
    }
    .chance-overlay h2 {
        font-size: 3rem;
        -webkit-background-clip: text;
        -webkit-text-stroke: 3px transparent;
    }
}

@media screen and (max-width: 1024px) {
    .logo {
        width: 20%;
        top: -30px;
    }
    .home-canvas .bottom a > img {
        width: 150px;
        top: -50px;
        left: 15px;
    }
    .home-canvas .top a > img {
        width: 40px;
        margin-top: 30px;
        margin-left: 15px;
    }
    .home-canvas .bottom a > img {
        width: 150px;
        top: -60px;
    }
    .home-canvas .bottom .characters {
        width: 40vw;
        left: 20px;
    }
    .icons {
        height: 56px;
        filter: contrast(150%);
    }
    #profile {
        font-size: 16px;
        top: 40px;
        left: 80px;
    }
    .image-navigation #coins {
        font-size: 12px;
        top: -25px;
        left: 20px;
    }
    .slider {
        margin: 2rem auto1;
    }
    .item.slick-slide {
        transform: scale(0.7) translate(585px);
    }
    .gamelogo .logo {
        width: 18%;
        top: 10px;
        left: 40px;
        display: block;
        margin: 0px auto;
        position: relative;
    }
    .battleground {
        height: 300px;
        margin-top: 0px;
    }
    .player-card {
        width: 120px;
    }
    .player {
        width: 120px;
    }
    .player-card h3 {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
    #versus {
        width: 150px;
        padding: 10px 40px;
        margin: 0px auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #vs {
        width: 50px;
        margin: 0px auto;
    }
    #coinstake {
        width: 140px;
        line-height: 2rem;
        font-size: 1rem;
        left: 0px;
        top: -50px;
    }
    #battlecoins {
        width: 90px;
        margin: 20px 10px;
    }
    .bottomnav {
        margin-top: -60px;
    }
    .stats img {
        width: 30px;
    }
    
}

@media screen and (max-width: 900px) {  
    .top {
        margin-top: 0;
    }
    .home-canvas .bottom .characters {
        width: 36vw;
        left: 20px;
    }
    .logo {
        width: 20%;
        top: 0px;
    }
    .home-canvas .top a > img {
        width: 60px;
        margin-top: -20px;
        margin-left: 20px;
        z-index: 100;
    }
    .levels .logo {
        width: 20%;
        top: 0px;
        margin-top: -40px;
    }
    .home-canvas .top a > img {
        width: 40px;
        margin-top: 30px;
        margin-left: 15px;
    }
    .home-canvas .bottom a > img {
        width: 140px;
        top: -50px;
    }
    .icons {
        height: 42px;
    }
    #profile {
        font-size: 12px;
        top: 35px;
        left: 70px;
    }
    .image-navigation #coins {
        font-size: 10px;
        top: -24px;
        left: 14px;
        letter-spacing: 1px;
    }
    .slider {
        margin-top: -1rem;
        margin-bottom: 0rem;
    }
    .item.slick-slide {
        width: 320px;
        height: 208px ;
        background: transparent;
        border-radius: 44px;
        transition: transform .4s;
        position: relative;
    }
    .bottomnav {
        padding-top: 0px;
    }
    .floating-box {
        width: 140px;
    }
    #boxes {
        padding: 0rem;
    }
    #topbar {
        height: 80px;
        padding: 10px 15px;
    }
    .chaticon {
        width: 24px;
        margin: 20px 5px;
    }
    #heart {
        position: relative;
        width: 40px;
        height: 32px;
        margin: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url('https://img.icons8.com/emoji/48/000000/heart-suit.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .lifecount {
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        position: relative;
        z-index: 1000;
        text-align: center;
        padding: 6px;
    }
    .box {
        width: 70px;
        height: 80px;
    }
    .score-bar {
        width: 120px;
        padding: 8px 15px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        background: linear-gradient(180deg, #1E1E24, #4B535D, #1E1E24);
        background: #4B535D;
        border-radius: 40px 0px 0px 40px;
        margin-left: 20px;
        box-shadow: inset 6px 10px 12px #222425, inset 3px -8px 12px #202124;
    }
    #police-side .console .score-bar {
        margin-left: 0px;
        margin-right: 20px;
    }
    .score-bar .title {
        font-size: 0.6rem;
        font-weight: 400;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.6rem;
    }
    .score {
        display: block;
        color: #fff;
        margin: 2px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.4rem;
    }
    #coin-count {
        display: block;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.1rem;
        font-size: 0.8rem;
        font-weight: 600;
        text-align: center;
        margin: 0px auto;
        margin-top: 48px;
    }
    .progress {
        padding: 0px 2px;
        height: 20px;
    }
    .progress-value {
        height: 15px;
    }
    .info-button {
        margin-top: -30px;
    }
    .stats img {
        width: 24px;
        padding: 3px;
        margin: 5px 10px;
    }
    .received {
        padding: 6px 16px;
        top: 80px;
        font-size: 12px;
    }
    .chormsg {
        left: 10%;
        border-radius: 16px;
    }
    .policemsg {
        right: 10%;
        border-radius: 16px;
    }
    .slick-arrow {
        padding: 0.3rem 1rem;
        font-size: 2rem;
    }
    .game-popup {
        top: 20%;
        width: 70%;
        padding: 5%;
        max-width: 400px;
    }
    .option {
        width: 160px;
    }
    .secret-popup {
        top: 15%;
        width: 60%;
        left: auto;
        max-width: 250px;
        max-height: 160px;
        padding: 5%;
        border-radius: 16px;
    }
    .secret-popup h3 {
        margin-top: 0.4rem;
        font-size: 1rem;
        font-weight: 500;
    }
    .secret {
        padding: 12px 20px;
        width: 210px;
        margin: 1.25rem 0;
        border-radius: 10px;
    }
    .popup-btn {
        padding: 14px 32px;
    }
    .received {
        top: 110px;
    }
    .chormsg {
        left: 15%;
    }
    .policemsg {
        right: 15%;
    }
}

@media screen and (max-width: 768px) {
    .mobile-view {
        margin: 2rem auto;
    }
    .home-canvas .top a > img {
        width: 40px;
        margin-top: 20px;
        margin-left: 15px;
    }
    /* .logo {
        top: -45px;
        width: 20%;
    } */
    .chaticon {
        width: 20px;
        margin: 5px;
    }
    #heart {
        margin: 0px 5px;
        width: 32px;
        height: 28px;
    }
    .home-canvas .bottom .characters {
        width: 40vw;
        left: 20px;
        position: relative;
    }
    .lifecount {
        font-size: 9px;
    }
    .box {
        width: 60px;
        height: 70px;
    }
    .score-bar {
        width: 120px;
        padding: 3px 5px;
        margin-left: 10px;
        border-radius: 30px 0px 0px 30px;
    }
    .score-bar .title {
        font-size: 0.5rem;
        margin: 0px 6px;
    }
    .score {
        display: block;
        color: #fff;
        margin: 2px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 0.7rem;
        line-height: 1.3rem;
    }
    #police-side .console .score-bar {
        margin-left: 0px;
        margin-right: 10px;
    }
    .floating-box {
        width: 110px;
    }
    #boxes {
        padding: 0rem;
    }
    .coins-counter {
        position: relative;
        display: block;
        height: 50px;
        width: 60px;
        border-radius: 10px;
        top: 10px;
    }
    #coin-count {
        margin-top: 34px;
        font-size: 0.6rem;
        font-weight: normal;
    }
    .chance-overlay h2 {
        font-size: 2rem;
        letter-spacing: 0.1rem;
        -webkit-text-stroke: 3px transparent;
    }
    .received {
        width: 200px;
        line-height: 16px;
        padding: 8px 14px;
        top: 120px;
    }
    .chormsg {
        left: 10%;
    }
    .policemsg {
        right: 10%;
    }
}

@media screen and (max-width: 475px) {
    .slider {
        margin-top: 1rem;
    }
    .item.slick-slide {
        width: 320px;
        height: 208px ;
        background: transparent;
        border-radius: 44px;
        transition: transform .4s;
        position: relative;
    }
    .stats img {
        width: 20px;
        padding: 2px;
        margin: 5px 10px;
    }
}

@media screen and (max-width: 420px) {

}

@media screen and (max-width: 360px) {

}

@media screen and (orientation: landscape) and (max-height: 400px) {
    .home-canvas .top a > img {
        width: 40px;
        margin-top: 30px;
    }
    .slider {
        margin-top: -2rem;
        margin-bottom: 0rem;
    }
    .item.slick-slide {
        width: 270px;
        height: 176px ;
        background: transparent;
        border-radius: 28px;
        transition: transform .4s;
        position: relative;
    }
    .bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .item.slick-slide {
        width: 270px;
        height: 176px ;
        background: transparent;
        border-radius: 28px;
        transition: transform .4s;
        position: relative;
    }
    .bottomnav {
        padding-top: 0px;
        margin-top: -10px;
    }
    .gamelogo .logo {
        width: 18%;
        top: 10px;
        left: 40px;
        display: block;
        margin: 0px auto;
        position: relative;
    }
    .battleground {
        height: 200px;
    }
    .player-card {
        width: 120px;
    }
    .player {
        width: 120px;
    }
    .player-card h3 {
        font-size: 1rem;
        line-height: 1.2rem;
    }
    #versus {
        width: 120px;
        padding: 10px 30px;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #vs {
        width: 60px;
        margin: 0px auto;
    }
    #coinstake {
        width: 120px;
        line-height: 2rem;
        font-size: 0.9rem;
        font-weight: 700;
        left: 0px;
        top: -60px;
    }
    #battlecoins {
        width: 90px;
        margin: 20px 10px;
    }
    .player-card .coins {
        font-size: 0.8rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
        width: 180px;
    }
    #player1 .coins .coin-single,
    #player2 .coins .coin-single {
        width: 12px;
        top: 18px;
    }
    .emoji-bar .emoji {
        font-size: 20px;
    }
    .message-modal {
        width: 200px;
        height: 220px;
        padding: 10px;
        top: 60px;
        z-index: 1000;
    }
    .modal-left {
        left: 18px;
    }
    .messages {
        height: 140px;
        margin-top: 10px;
    }
    .message {
        font-size: 12px;
        line-height: 18px;
    }
    .progress {
        margin-top: 60px;
    }
    .received {
        width: 200px;
        line-height: 16px;
        padding: 8px 14px;
        top: 80px;
    }
}

@media screen and (orientation: landscape) and (max-height: 360px) {
    .home-canvas .bottom .characters {
        width: 30vw;
        left: 20px;
    }
    .logo {
        width: 20%;
        top: 0px;
    }
    .mainlogo {
        top: -40px;
        width: 14%;
    }
    .home-canvas .top a > img {
        position: absolute;
        width: 36px;
        margin-top: 15px;
        margin-left: 15px;
        z-index: 100;
    }
    .logo {
        margin-top: 60px;
    }
    .slider {
        margin-top: -2rem;
        margin-bottom: 0rem;
    }
    .floating-box {
        width: 130px;
    }
    #boxes {
        padding: 0rem;
        padding-bottom: 0rem;
    }
    .progress {
        padding: 0px 2px;
        height: 16px;
        margin-top: 40px;
    }
    .progress-value {
        height: 11px;
    }
    .received {
        width: 200px;
        line-height: 16px;
        padding: 8px 14px;
        top: 80px;
    }
}

@media screen and (orientation: landscape) {
    #mobile-view {
        display: none;
        visibility: hidden;
    }
}

@media screen and (orientation: portrait) {
    .canvas {
        display: none;
        visibility: hidden;
    }
    #game-canvas {
        display: none;
        visibility: hidden;
    }
    #mobile-view {
        height: 100vh;
        background: url(images/Backgrounds/home.webp);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .notice {
        display: block;
        padding: 40px 20px;
        background: rgba(0, 0, 0, 0.5);
        text-align: center;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
    }
}