@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
}
.canvas {
    height: 100vh;
    max-width: 100vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.home-canvas::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(images/Backgrounds/home.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.home-canvas .top a > img {
    width: 60px;
    margin-top: 30px;
    margin-left: 30px;
    z-index: 100;
}
.logo {
    display: block;
    width: 25%;
    margin: 0px auto;
    position: relative;
    top: -50px;
    left: 20px;
}
.home-canvas .bottom .characters {
    display: block;
    width: 45vw;
    margin: 0px auto;
    position: relative;
    top: -30px;
    left: 50px;
    filter: drop-shadow(7px -5px 12px #00000f);
}
.home-canvas .bottom a >img{
    display: block;
    width: 200px;
    margin: 0px auto;
    position: relative;
    top: -90px;
    left: 25px;
    border-radius: 26px;
    filter: saturate(80%);
}
.home-canvas .bottom a >img:hover {
    filter: saturate(200%);
    transform: scale(1.08);
    box-shadow: 6px 6px 10px #161616;
    transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mobilefreeze {
    background-color: #000;
    background: url(images/Backgrounds/home.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/* places page */
.places {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.icons {
    height: 72px;
    filter: contrast(150%);
}
.icons:hover {
    filter: saturate(200%);
    transition: 0.6s ease-in;
}
#logo .logo{
    width: 25%;
    top: 40px;
}
.topbar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    z-index: 200;
}
.store {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.store a {
    margin-left: 20px;
}
#profile {
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    position: absolute;
    top: 45px;
    left: 98px;
}

.places-slider .slide .place-link img {
    height: 300px;
}

.bottomnav {
    width: 96%;
    position: relative;
    bottom: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    z-index: 400;
}
.bottomnav a {
    display: block;
}

.item .place-link {
    pointer-events: none;
}
.slider {
    position: relative;
    z-index: 200;
    padding: 0 0px;
    margin: 5rem auto;
    max-width: 100vw;
    width: 100%;
    border-radius: 30px;
}
  
.slick-arrow {
    display: none;
    visibility: hidden;
}

.item.slick-slide {
    width: 480px;
    height: 311px ;
    background: transparent;
    border-radius: 57px;
    transition: transform .4s;
    position: relative; 
}

.slick-slide:after {
    content:'';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    transition: transform .4s;
    pointer-events: all;
}

.item.slick-slide {
    transform: scale(0.7)  translate(640px);
}

.item.slick-slide.slick-center + .slick-slide {
    transform: scale(0.8) translate(-250px);
    z-index: 10;
}

.item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
    transform: scale(0.7)  translate(-640px);
    z-index: 5;
}

.item.slick-slide.slick-active {
    transform: scale(0.8) translate(250px);
    box-shadow: -10px 10px 20px #000;
}

.item.slick-slide.slick-center {
    /* margin: 0 -10%; */
    transform: scale(1);
    z-index: 30;
}

.slick-current {
    filter: saturate(200%);
}

.slick-center:after {
    opacity: 0;
}

.image-navigation #coins {
    font-size: 14px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    top: -28px;
    position: relative;
    left: 28px;
}



.bank {
    background: url('images/Backgrounds/bankbg.png');
    background-position: center;
    background-size: cover;

}

.gamelogo .logo{
    width: 28%;
    top: 30px;
    display: block;
    margin: 0px auto;
    position: relative;
    top: 50px;
    left: 70px;
}

.coins {
    background: #5A7EB7;
}

.battleground {
    height: 400px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player {
    width: 200px;
    filter: saturate(150%);
}
.player-card h3 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 4rem;
    text-align: center;
}
.player-card .coins {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.021), #05204dc5, #05204dc5, rgba(255, 255, 255, 0));
    background-size: cover;
    background-position: center;
    width: 200px;
    background-repeat: no-repeat;
    line-height: 3rem;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat';
}
#versus {
    width: 160px;
    margin: 40px auto;
    padding: 20px 80px;
}

#vs {
    width: 120px;
    padding: 10px;
}

#battlecoins {
    width: 120px;
    margin: 20px 10px;
}

#coinstake {
    display: block;
    width: 180px;
    line-height: 2rem;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat';
    position: relative;
    left: -20px;
    top: -70px;
}


.meuseum {
    background: url('images/Backgrounds/artmeuseum.png');
    background-position: center;
    background-size: cover;
}

.temple {
    background: url('images/Backgrounds/temple.png');
    background-position: center;
    background-size: cover;
}

.palace {
    background: url('images/Backgrounds/palace.png');
    background-position: center;
    background-size: cover;
}

  
#player1 .coins {
    position: relative;
}

#player1 .coins .coin-single {
    content: url('images/Icons/twmcoin.png');
    width: 22px;
    position: absolute;
    margin-top: auto;
    filter: saturate(150%);
    top: 12px;
    right: 40px;
    text-align: left;
    animation: 0.15s linear 14 spinRightCoin;
    animation-delay: 1s;
}
#player1 .coins .coin-single:nth-child(2) {
    animation-delay: 2.25s;
    right: 36px;
}
#player1 .coins .coin-single:nth-child(3) {
    animation-delay: 2.5s;
    right: 32px;
}
#player1 .coins .coin-single:nth-child(4) {
    animation-delay: 2.75s;
    right: 28px;
}
#player1 .coins .coin-single:nth-child(5) {
    animation-delay: 3.0s;
    right: 24px;
}
#player1 .coins .coin-single:nth-child(6) {
    animation-delay: 3.15s;
    right: 20px;
}

#player2 .coins {
    position: relative;
}

#player2 .coins .coin-single {
    content: url('images/Icons/twmcoin.png');
    width: 22px;
    margin-top: auto;
    position: absolute;
    filter: saturate(150%);
    top: 12px;
    left: 40px;
    text-align: left;
    animation: 0.15s linear 14 spinLeftCoin;
    animation-delay: 1s;
}

#player2 .coins .coin-single:nth-child(2) {
    animation-delay: 2.25s;
    left: 36px;
}
#player2 .coins .coin-single:nth-child(3) {
    animation-delay: 2.5s;
    left: 32px;
}
#player2 .coins .coin-single:nth-child(4) {
    animation-delay: 2.75s;
    left: 28px;
}
#player2 .coins .coin-single:nth-child(5) {
    animation-delay: 3.0s;
    left: 24px;
}
#player2 .coins .coin-single:nth-child(6) {
    animation-delay: 3.15s;
    left: 20px;
}

#game-canvas {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
}

/* #topbar img {
    width: 100%;
} */

#boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 120px 0px 80px 0px;
}
.floating-box {
    width: 250px;
    position: relative;
    transform: scale(1.2);
}

.animatebox {
    animation: 3s linear both infinite floating;
}
  
.progress {
    background: rgba(255, 255, 255, 0.925);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 30px;
    width: 500px;
    margin: 20px auto;
}
  
.progress-value {
    background: linear-gradient(90deg, #4F70A1, #AFBED4);
    background-size: 100% 100%;
    -webkit-animation: progress-animation 15s linear infinite;
    animation: progress-animation 15s linear infinite;
    border-radius: 100px;
    height: 20px;
    width: 0;
}

.faded {
    filter: grayscale(100%);
}

.activebox {
    transform: scale(1.4);
    animation: 1.5s linear both infinite saturate;
    transition: 0.6s ease;
}
.message-modal {
    width: 260px;
    height: 400px;
    padding: 20px;
    background: #1a1a1a;
    border-radius: 15px;
    position: absolute;
    top: 100px;
    box-shadow: 5px 5px 20px #000;
    border: 1px solid rgb(0, 0, 0);
    /* display: none; */
    visibility: hidden;
}
.modal-left {
    left: 60px;
    visibility: visible;
}
.modal-right {
    right: 60px;
    visibility: visible;
}
.emoji-bar {
    padding: 10px;
    background: #111;
    border-radius: 10px;
    overflow-x: scroll;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid #222;
}
.emoji-bar .emoji {
    text-decoration: none;
    font-size: 28px;
    margin-left: 10px;
}
.emoji-bar .emoji:nth-child(1) {
    margin-left: 5px;
}
.emoji-bar .emoji:hover {
    transform: scale(1.8);
    transition: 0.6s ease;
}
.messages {
    margin-top: 20px;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    background: #111;
    border-radius: 10px;
    border: 1px solid #222;
}
.message {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #a3ce72;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
}
.message:hover {
    font-weight: 700;
    transition: 0.8s ease;
}


/* topbar design */
.flex-console {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#topbar {
    height: 130px;
    padding: 15px 60px;
    background: linear-gradient(to right, rgba(34, 34, 34, 0.85), rgba(153, 153, 153, 0.9), rgba(34, 34, 34, 0.85));
    border-radius: 0px 0px 40px 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#heart {
    position: relative;
    width: 47px;
    height: 36px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#heart::before, #heart::after {
    content: "";
    position: absolute;
    top: 0;
    width: 24px;
    height: 40px;
    border-radius: 50px 50px 0 0;
    background: red;
}

#heart::before {
    left: 24px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

#heart::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.lifecount {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    z-index: 1000;
    text-align: center;
}
.chaticon {
    width: 40px;
    margin: 20px 36px;
}
.console {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.score-bar {
    width: 240px;
    padding: 20px 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: linear-gradient(180deg, #1E1E24, #4B535D, #1E1E24);
    background: #4B535D;
    border-radius: 40px 0px 0px 40px;
    margin-left: 40px;
    box-shadow: inset 6px 10px 12px #222425, 
                inset 3px -8px 12px #202124;
}
#police-side .console .score-bar {
    margin-left: 0px;
    margin-right: 40px;
    border-radius: 0px 40px 40px 0px;
    flex-direction: row-reverse;
    box-shadow: inset 2px 10px 12px #222425, 
                inset -3px -5px 12px #202124;
}
.score-bar .title {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.score {
    display: block;
    color: #fff;
    margin: 2px 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

/* Border filling Animation CSS */

.box {
  position: relative;
  width: 90px;
  height: 120px;
  margin: 0 auto;
  border: 3px solid transparent;
  background: #000;
  background: url('images/Icons/Home Profile Picture.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -5px;
}

.borderanimate {
  position: absolute;
  -webkit-animation: 15s linear;
          animation: 15s linear;
}
.top-border {
  top: -3px;
  left: -3px;
  height: 3px;
  -webkit-animation-name: top;
          animation-name: top;
}

@keyframes top {
  25% {
    width: 0;
    background: #00ff22;
  }
  38% {
    width: calc(103%);
    background: #00ff22;
  }
  50% {
    background: #00ff22;
  }
  62% {
    background: #00ff22;
  }
  75% {
    width: calc(103%);
    background: #00ff22;
  }
  88% {
    left: auto;
    right: -3px;
    width: 0;
    background: #00ff22;
  }
}

.bottom-border {
  bottom: -3px;
  right: -3px;
  height: 3px;
  -webkit-animation-name: bottom;
          animation-name: bottom;
}
@keyframes bottom {
  0% {
    width: 0;
  }
  12% {
    width: calc(103%);
    background: #00ff22;
  }
  25% {
    background: #00ff22;
  }
  38% {
    background: #00ff22;
  }
  50% {
    width: calc(103%);
    background: #00ff22;
  }
  62% {
    left: -3px;
    width: 0;
    background: #00ff22;
  }
  75% {
    background: #00ff22;
  }
}

.left {
  bottom: -3px;
  left: -3px;
  width: 3px;
  -webkit-animation-name: left;
          animation-name: left;
}
@keyframes left {
  12% {
    height: 0;
    background: #00ff22;
  }
  25% {
    height: calc(103%);
    background: #00ff22;
  }
  38% {
    background: #00ff22;
  }
  50% {
    background: #00ff22;
  }
  62% {
    height: calc(103%);
    background: #00ff22;
  }
  75% {
    top: -3px;
    height: 0;
    background: #00ff22;
  }
  88% {
    background: #00ff22;
  }
}

.right {
  top: -3px;
  right: -3px;
  width: 3px;
  -webkit-animation-name: right;
          animation-name: right;
}

@keyframes right {
  38% {
    height: 0;
    background: #00ff22;
  }
  50% {
    height: calc(103%);
    background: #00ff22;
  }
  62% {
    background: #00ff22;
  }
  75% {
    background: #00ff22;
  }
  88% {
    height: calc(103%);
    background: #00ff22;
  }
  100% {
    top: auto;
    bottom: -3px;
    height: 0;
    background: #00ff22;
  }
}

.coins-counter {
    display: block;
    height: 70px;
    width: 90px;
    background: url('images/Icons/Homepage_CoinsDisplay.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 14px;
    filter: saturate(200%);
}
#coin-count {
    display: block;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1rem;
    margin-top: 46px;
    margin-left: 25px;
    font-size: 0.9rem;
    font-weight: 600;
}



/* ========== Animation CSS =========== */

@keyframes spinRightCoin {
    0%{ 
        top: -110px;
        right: -200px;
        transform: scale(1) rotate(0deg);
        opacity: 0;
    }
    10% {
        top: 0px;
        right: 0px;
        transform: scale(0.8) rotate(0deg);
        opacity: 0.6;
    }
    40% {
        top: 0px;
        right: -40px;
        transform: scale(1.2) rotate(60deg);
        opacity: 1;
    }
    60% {
        top: -40px;
        right: -90px;
        transform: scale(0.6) rotate(45deg);
        opacity: 0.3;
    }
    100% {
        top: -110px;
        right: -180px;
        transform: scale(1) rotate(45deg);
        opacity: .8;
    }
}
@keyframes spinLeftCoin {
    0%{
        top: -110px;
        left: -200px;
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
    10% {
        top: 0px;
        left: 0px;
        transform: scale(0.8) rotate(0deg);
        opacity: 0.2;
    }
    40% {
        top: 0px;
        left: -40px;
        transform: scale(1.2) rotate(60deg);
        opacity: 1;
    }
    60% {
        top: -40px;
        left: -60px;
        transform: scale(0.6) rotate(45deg);
        opacity: 0.3;
    }
    100% {
        top: -110px;
        left: -180px;
        transform: scale(1) rotate(45deg);
        opacity: .8;
    }
}

@keyframes progress-animation {
    0% {
      background-position: 100%;
      width: 0;
    }
    100% {
      background-position: 0;
      width: 100%;
    }
}
  
@keyframes progress-animation {
    0% {
      background-position: 100%;
      width: 0%;
    }
    100% {
      background-position: 0;
      width: 100%;
    }
}


@keyframes floating {
    0% {
        top: 0px;
    }
    25% {
        top: -20px;
    }
    50% {
        top: 0px;
    }
    75% {
        top: 20px;
    }
    100% {
        top: 0px;
    }
}
@keyframes saturate {
    0% {
        filter: saturate(50%);
        transform: scale(0.8);
    }
    25% {
        filter: saturate(150%);
        transform: scale(1);
    }
    50% {
        filter: saturate(200%);
        transform: scale(1.2);
    }
    75% {
        filter: saturate(150%);
        transform: scale(1);
    }
    100% {
        filter: saturate(50%);
        transform: scale(0.8);
    }
}


/* Media Queries */
@media screen and (max-width: 1380px) {

}
@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 1024px) {
    .logo {
        width: 20%;
        top: -30px;
    }
    .home-canvas .bottom a > img {
        width: 150px;
        top: -50px;
        left: 15px;
    }
    .home-canvas .top a > img {
        width: 40px;
        margin-top: 30px;
        margin-left: 15px;
    }
    .home-canvas .bottom a > img {
        width: 150px;
        top: -60px;
    }
    .home-canvas .bottom .characters {
        width: 40vw;
        left: 20px;
    }
}

@media screen and (max-width: 900px) {
    .home-canvas .bottom .characters {
        width: 36vw;
        left: 20px;
    }
    .logo {
        width: 15%;
        top: -30px;
    }
    .home-canvas .top a > img {
        width: 40px;
        margin-top: 30px;
        margin-left: 15px;
    }
    .home-canvas .bottom a > img {
        width: 140px;
        top: -45px;
    }
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 475px) {
    
}

@media screen and (max-width: 420px) {
    
}

@media screen and (max-width: 360px) {
    
}

